* {
    margin: 0;
    padding: 0;
}

main {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100vw;
}

.traffic-lights {
    align-items: center;
    background-color: rgb(58, 58, 61);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    height: 540px;
    justify-content: space-evenly;
    width: 280px;
}

.traffic-light {
    border-radius: 50%;
    height: 120px;
    width: 120px;
}

.red{
    background-color: red;
}
.red.active {
    box-shadow: 0px 0px 20px 10px red;
}

.orange {
    background-color: yellow;
}

.orange.active {
    box-shadow: 0px 0px 20px 10px yellow;
}

.green {
    background-color: green;
}

.green.active {
    box-shadow: 0px 0px 20px 10px green;
}